In [40]:
import pandas as pd
import numpy as np
BBBT=pd.read_csv('D:\DataSurvey.csv',sep=";")
IPS=pd.read_csv('D:\DS2.csv', sep=";")
BBBT

           NRP  BERAT BADAN (KG) TINGGI BADAN (CM)
0   3113100066                57               155
1   3113100090                40               150
2   3113100106                48               157
3   3113100007                86               172
4   3113100107                47               158
5   3113100003                51               160
6   3113100127                55               168
7   3113100073               108               167
8   3113100076                65               170
9   3113100074                45               152
10  3114100138                75               172
11  3114100005                55               174
12  3114100017                70               170
13  3114100092                74               165
14  3114100036                46             149,5
15  3114100079                50               167
16  3114100702                56               170
17  3114100049                88               178
18  3114100050                70               158
19  3114100704                66               176
20  3114100045                67               175
21  3114100019                54               160
22  3114100098                58               165
23  3114100021                63               173
24  3114100095                41               154
25  3115105049                65               179
26  3115105013                62               168
27  3115105058                44               169
28  3115100037                54               178
29  3115100082                72               165
30  3115105059                55               165
31  3115105043                66               170
32  3115100059                41               159
33  3115100078                55               160
34  3115100149                62               171
35  3115100106                59               165
36  3115100072                54               167
37  3115100089                70               177
38  3115100016                46               160
39  3115100009                54               166
40  3115100053                50               162
41  3115100085                53               155
42  3115100137                65               168
43  3115100112                60               152
44  3115100084                60               165

In [41]:
IPS

           NRP IPS SEMESTER GANJIL IPS SEMESTER GENAP
0   3113100066                3,58               3,44
1   3113100090                3,72                3,4
2   3113100106                3,54               3,59
3   3113100007                3,89               3,87
4   3113100107                3,59               3,55
5   3113100003                 3,4                3,7
6   3113100127                 3,4                3,4
7   3113100073                3,63                3,5
8   3113100076                3,92               3,74
9   3113100074                 3,9                3,8
10  3114100138                 3,6                3,4
11  3114100005                 3,3               3,28
12  3114100017                 3,3                2,9
13  3114100092                 3,2                3,2
14  3114100036                 3,2                3,2
15  3114100079                3,19               3,25
16  3114100702                 3,5               3,52
17  3114100049                3,54                3,5
18  3114100050                 2,8               3,25
19  3114100704                3,52               3,28
20  3114100045                 3,4               3,61
21  3114100019                 3,6                3,3
22  3114100098                2,98               3,65
23  3114100021                 2,8                  3
24  3114100095                2,98               3,43
25  3115105049                2,78               3,54
26  3115105013                3,11                3,3
27  3115105058                 3,3                3,3
28  3115100037                3,15               2,53
29  3115100082                 3,2                  3
30  3115105059                 2,4                3,3
31  3115105043                3,22               3,58
32  3115100059                   3               3,31
33  3115100078                 2,6                  3
34  3115100149                 2,6                2,6
35  3115100106                3,42               2,58
36  3115100072                3,81               3,81
37  3115100089                3,44               3,44
38  3115100016                3,39               3,22
39  3115100009                3,61                3,6
40  3115100053                3,42               3,53
41  3115100085                 3,2                  3
42  3115100137                 2,9                  3
43  3115100112                 3,2                  3
44  3115100084                3,08               3,31

In [42]:
# merge data based on ID
data = pd.merge(BBBT, IPS, on='NRP')
data

,NRP,BERAT BADAN (KG),TINGGI BADAN (CM),IPS SEMESTER GANJIL,IPS SEMESTER GENAP
0,3113100066,57,155,"3,58","3,44"
1,3113100090,40,150,"3,72","3,4"
2,3113100106,48,157,"3,54","3,59"
3,3113100007,86,172,"3,89","3,87"
4,3113100107,47,158,"3,59","3,55"
5,3113100003,51,160,"3,4","3,7"
6,3113100127,55,168,"3,4","3,4"
7,3113100073,108,167,"3,63","3,5"
8,3113100076,65,170,"3,92","3,74"
9,3113100074,45,152,"3,9","3,8"
10,3114100138,75,172,"3,6","3,4"
11,3114100005,55,174,"3,3","3,28"
12,3114100017,70,170,"3,3","2,9"
13,3114100092,74,165,"3,2","3,2"
14,3114100036,46,"149,5","3,2","3,2"
15,3114100079,50,167,"3,19","3,25"
16,3114100702,56,170,"3,5","3,52"
17,3114100049,88,178,"3,54","3,5"
18,3114100050,70,158,"2,8","3,25"
19,3114100704,66,176,"3,52","3,28"
20,3114100045,67,175,"3,4","3,61"
21,3114100019,54,160,"3,6","3,3"
22,3114100098,58,165,"2,98","3,65"
23,3114100021,63,173,"2,8",3
24,3114100095,41,154,"2,98","3,43"
25,3115105049,65,179,"2,78","3,54"
26,3115105013,62,168,"3,11","3,3"
27,3115105058,44,169,"3,3","3,3"
28,3115100037,54,178,"3,15","2,53"
29,3115100082,72,165,"3,2",3
30,3115105059,55,165,"2,4","3,3"
31,3115105043,66,170,"3,22","3,58"
32,3115100059,41,159,3,"3,31"
33,3115100078,55,160,"2,6",3
34,3115100149,62,171,"2,6","2,6"
35,3115100106,59,165,"3,42","2,58"
36,3115100072,54,167,"3,81","3,81"
37,3115100089,70,177,"3,44","3,44"
38,3115100016,46,160,"3,39","3,22"
39,3115100009,54,166,"3,61","3,6"
40,3115100053,50,162,"3,42","3,53"
41,3115100085,53,155,"3,2",3
42,3115100137,65,168,"2,9",3
43,3115100112,60,152,"3,2",3
44,3115100084,60,165,"3,08","3,31"

In [45]:
# delete colomn
data1 = data.drop(['IPS SEMESTER GANJIL'], axis=1)
data1

           NRP  BERAT BADAN (KG) TINGGI BADAN (CM) IPS SEMESTER GENAP
0   3113100066                57               155               3,44
1   3113100090                40               150                3,4
2   3113100106                48               157               3,59
3   3113100007                86               172               3,87
4   3113100107                47               158               3,55
5   3113100003                51               160                3,7
6   3113100127                55               168                3,4
7   3113100073               108               167                3,5
8   3113100076                65               170               3,74
9   3113100074                45               152                3,8
10  3114100138                75               172                3,4
11  3114100005                55               174               3,28
12  3114100017                70               170                2,9
13  3114100092                74               165                3,2
14  3114100036                46             149,5                3,2
15  3114100079                50               167               3,25
16  3114100702                56               170               3,52
17  3114100049                88               178                3,5
18  3114100050                70               158               3,25
19  3114100704                66               176               3,28
20  3114100045                67               175               3,61
21  3114100019                54               160                3,3
22  3114100098                58               165               3,65
23  3114100021                63               173                  3
24  3114100095                41               154               3,43
25  3115105049                65               179               3,54
26  3115105013                62               168                3,3
27  3115105058                44               169                3,3
28  3115100037                54               178               2,53
29  3115100082                72               165                  3
30  3115105059                55               165                3,3
31  3115105043                66               170               3,58
32  3115100059                41               159               3,31
33  3115100078                55               160                  3
34  3115100149                62               171                2,6
35  3115100106                59               165               2,58
36  3115100072                54               167               3,81
37  3115100089                70               177               3,44
38  3115100016                46               160               3,22
39  3115100009                54               166                3,6
40  3115100053                50               162               3,53
41  3115100085                53               155                  3
42  3115100137                65               168                  3
43  3115100112                60               152                  3
44  3115100084                60               165               3,31

In [46]:
# Drop baris ke-4
data2 = data.drop([3])
data2

,NRP,BERAT BADAN (KG),TINGGI BADAN (CM),IPS SEMESTER GANJIL,IPS SEMESTER GENAP
0,3113100066,57,155,"3,58","3,44"
1,3113100090,40,150,"3,72","3,4"
2,3113100106,48,157,"3,54","3,59"
4,3113100107,47,158,"3,59","3,55"
5,3113100003,51,160,"3,4","3,7"
6,3113100127,55,168,"3,4","3,4"
7,3113100073,108,167,"3,63","3,5"
8,3113100076,65,170,"3,92","3,74"
9,3113100074,45,152,"3,9","3,8"
10,3114100138,75,172,"3,6","3,4"
11,3114100005,55,174,"3,3","3,28"
12,3114100017,70,170,"3,3","2,9"
13,3114100092,74,165,"3,2","3,2"
14,3114100036,46,"149,5","3,2","3,2"
15,3114100079,50,167,"3,19","3,25"
16,3114100702,56,170,"3,5","3,52"
17,3114100049,88,178,"3,54","3,5"
18,3114100050,70,158,"2,8","3,25"
19,3114100704,66,176,"3,52","3,28"
20,3114100045,67,175,"3,4","3,61"
21,3114100019,54,160,"3,6","3,3"
22,3114100098,58,165,"2,98","3,65"
23,3114100021,63,173,"2,8",3
24,3114100095,41,154,"2,98","3,43"
25,3115105049,65,179,"2,78","3,54"
26,3115105013,62,168,"3,11","3,3"
27,3115105058,44,169,"3,3","3,3"
28,3115100037,54,178,"3,15","2,53"
29,3115100082,72,165,"3,2",3
30,3115105059,55,165,"2,4","3,3"
31,3115105043,66,170,"3,22","3,58"
32,3115100059,41,159,3,"3,31"
33,3115100078,55,160,"2,6",3
34,3115100149,62,171,"2,6","2,6"
35,3115100106,59,165,"3,42","2,58"
36,3115100072,54,167,"3,81","3,81"
37,3115100089,70,177,"3,44","3,44"
38,3115100016,46,160,"3,39","3,22"
39,3115100009,54,166,"3,61","3,6"
40,3115100053,50,162,"3,42","3,53"
41,3115100085,53,155,"3,2",3
42,3115100137,65,168,"2,9",3
43,3115100112,60,152,"3,2",3
44,3115100084,60,165,"3,08","3,31"